<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Activate Your Account</title>
    <style>{{styles}}</style>
  </head>

  <body>
    <table
      role='presentation'
      width='100%'
      cellpadding='0'
      cellspacing='0'
      border='0'
    >
      <tr>
        <td align='center'>
          <table
            role='presentation'
            cellpadding='0'
            cellspacing='0'
            border='0'
            class='container'
          >
            <tr>
              <td class='header'>
                <p class='logo'>DRIVE STORY</p>
                <p class='subtitle'>your car in detail</p>
              </td>
            </tr>

            <tr>
              <td class='main'>
                <p>Hi friend, Welcome to DriveStory!</p>
                <p>We're excited to have you on board! Just one more step to
                  start your journey with DriveStory.</p>
                <p>Please click the button below to activate your account:</p>

                <p>
                  <a
                    href='{{API_URL}}/api/v1/user/activation-email/{{activationToken}}'
                    class='linkBtn'
                    target='_blank'
                    rel='noopener noreferrer'
                    style='color: #0f0f0f'
                  >
                    Activate My Account
                  </a>
                </p>

                <p>If the button above doesn't work, copy and paste this link
                  into your browser:</p>

                <p>
                  <a
                    href='{{API_URL}}/api/v1/user/activation-email/{{activationToken}}'
                    target='_blank'
                    rel='noopener noreferrer'
                    style='color: #eecd10'
                  >
                    {{API_URL}}/api/v1/user/activation-email/{{activationToken}}
                  </a>
                </p>
              </td>
            </tr>

            <tr>
              <td class='footer'>
                <p>Need help? Contact our
                  <a
                    href='mailto:{{supportEmail}}'
                    style='color: #eecd10'
                  >support team</a>.
                </p>
                <p>&copy; {{year}} DriveStory. All rights reserved.</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>