<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Password Changed Successfully</title>
    <style>{{styles}}</style>
  </head>

  <body>
    <table
      role='presentation'
      width='100%'
      cellpadding='0'
      cellspacing='0'
      border='0'
    >
      <tr>
        <td align='center'>
          <table
            role='presentation'
            cellpadding='0'
            cellspacing='0'
            border='0'
            class='container'
          >
            <tr>
              <td class='header'>
                <p class='logo'>DRIVE STORY</p>
                <p class='subtitle'>your car in detail</p>
              </td>
            </tr>

            <tr>
              <td class='main'>
                <p>Hi friend,</p>
                <p>Your password has been successfully changed.</p>
                <p>You can now use your new password to
                  <a href='{{CLIENT_URL}}/auth' style='color: #eecd10'>log in</a>
                  to your account.</p>
                <p>
                  If you did not make this change, please
                  <a
                    href='mailto:{{supportEmail}}'
                    style='color: #eecd10'
                  >contact our support team</a>
                  immediately.
                </p>
                <p>
                  For your security, if you suspect any unauthorized access to
                  your account, please review your recent activity and take
                  appropriate actions.
                </p>
              </td>
            </tr>

            <tr>
              <td class='footer'>
                <p>Need help? Contact our
                  <a
                    href='mailto:{{supportEmail}}'
                    style='color: #eecd10'
                  >support team</a>.
                </p>
                <p>&copy; {{year}} DriveStory. All rights reserved.</p>
              </td>
            </tr>

          </table>
        </td>
      </tr>
    </table>
  </body>
</html>